---
import "../styles/global.css";

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Dev Project</title>
	</head>
	<body>
		<h1 class="font-bold m-[10px]">Hello WiCS Dev Project</h1>
		<div class="flex flex-row">
			<div class="w-[400px] h-[200px] bg-red-400 m-[10px]">Want to learn interesting facts about cats?</div>
		</div>

		<button 
			class="bg-pink-500 text-white rounded-md p-2 m-5 cursor-pointer hover:bg-pink-700" 
			onclick="window.location.href='/cats'">
			Go to Cats Page
		</button>
		<!-- <h1 class="font-bold text-3xl m-5">WiCS Dev Project: Spring 2025</h1>
		<nav>
			<a class="m-5 link" href="#food">Food</a>
			<a class="m-5 link" href="#places">Places</a>
			<a class="m-5 link" href="#colors">Colors</a>
		  </nav>
		<div class="flex flex-col">
			<h1 class="font-bold text-2xl m-5">My Favorite Foods</h1>
			<div class="flex flex-row" id="food">
				<ul class="text-2xl border-2 w-fit p-4 m-5">
					<li>Sushi</li>
					<li>Pizza</li>
					<li>Buggers</li>
				</ul>
				<ul class="text-2xl border-2 w-fit p-4 m-5">
					<li>Bread</li>
					<li>Butter</li>
					<li>Cheese</li>
				</ul>
				<ul class="text-2xl border-2 w-fit p-4 m-5">
					<li>Broccoli</li>
					<li>Carrots</li>
					<li>Muffins</li>
				</ul> -->
			<!-- </div> -->
			<!-- <h1 class="font-bold text-2xl m-5">My Favorite Places</h1>
			<div class="flex flex-col" id="places">
				<img class="m-5 w-[200px]" src="/assets/egypt.jpg"/>
				<img class="m-5 w-[200px]" src="/assets/paris.jpg"/>
				<img class="m-5 w-[200px]" src="/assets/florida.jpg"/>
			</div>

			<h1 class="font-bold text-2xl m-5">My Favorite Colors</h1>
			<div class="flex flex-row" id="colors">
				<div class="color m-5 bg-amber-400"></div>
				<div class="color m-5 bg-red-400"></div>
				<div class="color m-5 bg-blue-400"></div>
			</div> -->
			
		</div>
		<!-- <button class="bg-blue-100 rounded-md p-2 m-5 cursor-pointer variant-default">Generate Number</button> -->
	</body>
</html>

<style>
	.link {
		color: blue;
	}

	.color {
		width: 100px;
		height: 100px;
		border: 1px solid black;
		border-radius: 50%;
	}
</style>
